/*NAVBAR COMPONENT CSS*/

.navbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    padding: 10px 15px;
    z-index: 1000;
    border: 2px solid greenyellow;
   
  }
  .navbar-right {
    color: white;
    margin: 5px;
  }
  .navbar ul li {
    display: none;
  }
  
  /* Media Query for Mobile*/
  @media screen and (min-width: 100px) and (max-width: 426px) {
    .navbar {
      align-items: center;
    }
  
    .navbar-right {
      display: block;
    }
  }
  
  /* Media Query for  Some Tablets and Larger Screen */
  @media screen and (min-width: 900px) and (max-width: 2560px) {
    .navbar {
      flex-direction: row;
      align-items: center;
    }
  
    .navbar ul li {
      display: inline;
      line-height: 80px;
      margin: 2rem;
      color: aliceblue;
    }
  
    .navbar-right i {
      margin: 20px;
    }
  
    .navbar ul li a {
      font-size: larger;
    }
  }
