body {
    font-family: 'Poppins', sans-serif; 
    width: 100%;
    }
    
    .recent-news{
    height: 1150px;
    border: 2px solid green;
    }
    
    .recent-news h2 {
        width:202px;
    height: 26px;
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin: 16px auto;
    font-size: 30px;
    line-height: 25px;
    padding-block: 1rem;
       
    }
    
    
    
    .article1 {
    background-image: url(../images/article1image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 350px;
    padding: 20px;
    margin: 0 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-shrink: 0;
    }
    
    
    .article2 {
    background-image: url(../images/article2image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 350px;
    padding: 20px;
    margin: 0 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-shrink: 0;
    }
    
    
    .article3 {
    background-image: url(../images/article3image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 350px;
    padding: 20px;
    margin: 0 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-shrink: 0;
    
    }
    
    
    
    .date-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    background: rgba(255, 255, 255, 0.83);
    }
    
    
    .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    }
    
    .article-date {
    width: 33px;
    height: 40px;
    margin: 0;
    text-align: center;
    
    
    }
    
    
    .day {
    font-size: 24px;
    font-family: 'Inter';
    line-height: normal;
    }
    .month {
    font-size: 12px;
    line-height: normal;
    }
    
    .article-title {
    font-size: 14px;
    width: 296px;
    
    }
    
    .article-link {
    font-family: 'Dosis';
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    text-decoration: underline;
    text-transform: uppercase;
    margin-right: 5px;
    }
    
    .line {
    width: 22px;
    height: 1px;
    background-color: black;
    }
    
    .link-style {
    display: flex;
    align-items: center;
    }
    
    .link-style:hover {
    cursor: pointer;
    text-decoration: none;
    color: blue;
    
    }
    
    /* Footer mobile styling */
    
    footer {
    margin-top: 26px;
    background: #EFEFEF;
    width: 100%;
    height: 480px;
    padding: 42px 12px;
    }
    
    .details {
    margin-top: 30px;
    }
    
    .details-item {
    width: 262px;
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
    }
    
    .details-item p {
    font-size: 16px;
    }
    
    .details-icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    }
    
    .newsletter {
    margin-top: 65px;
    }
    .newsletter p{
    margin-bottom: 19px;
    }
    
    form {
    width: 336px;
    
    display: flex;
    }
    
    #email {
    width: 287px;
    height: 40px;
    font-family: 'Poppins';
    padding-left: 14px;
    margin-bottom: 43px;
    }
    
    .newsletter-btn {
    width: 49px;
    height: 40px;
    border-style: none;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    hr {
    height: 1px;
    background: rgba(0, 0, 0, 0.36);
    margin-bottom: 23px;
    }
    
    .copyright {
    margin-bottom: 30px;
    }
    
    /* Desktop Styling */
    @media screen and (min-width:900px)  and (max-width:1440px){
    /* Desktop News Styling */
    
    .recent-news h2 {
      margin: 1rem auto;
       
       
    }
    .article-container {
        width: 100%;
        height: 440px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content:center ;
      
    margin-bottom: 10px;
    border: 2px solid red;
    
    }
    
    .article1 {
        width: 90%;
        height: 380px;
        padding-right: 0;
        margin-right:0 ;
        background-position: center;
        background-size: cover;
    }
    .article1:hover {
    transform: scale(1.1);
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .article2:hover {
    transform: scale(1.1);
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .article3:hover {
    transform: scale(1.1);
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .article2 {
        width: 95%;
        height: 380px;
        padding-right: 0;
        margin-right:0 ;
    }
    .article3 {
    width: 95%;
    height: 380px;
    padding-right: 0;
    margin-right:0 ;
    
    }
    
    
    .recent-news{
    width: 100%;
    height: 100%;
    
    
    }
    
    /* Desktop footer Styling */
    footer {
    margin-top: 10px;
    background: #EFEFEF;
    width: 100%;
    height: 292px;
    padding: 42px 119px;
    }
    
    
    
    .container-footer{
    display: flex;
    justify-content: space-between;
    }
    
    .newsletter {
    margin-top: 0px;
    }
    
    .newsletter p{
    margin-bottom: 19px;
    width: 320px;
    }
    }

    @media screen  and (min-width:1445px){
        .recent-news h2 {
            margin: 1rem auto;
             
             
          }
          .article-container {
              width: 100%;
              height: 440px;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 20px;
              justify-content:center ;
            
          margin-bottom: 10px;
          border: 2px solid red;
          
          }
          
          .article1 {
              width: 90%;
              height: 380px;
              padding-right: 0;
              margin-right:0 ;
              background-position: center;
              background-size: cover;
          }

          .article2 {
            width: 95%;
            height: 380px;
            padding-right: 0;
            margin-right:0 ;
        }
        .article3 {
        width: 95%;
        height: 380px;
        padding-right: 0;
        margin-right:0 ;
        
        }
        
        
        .recent-news{
        width: 100%;
        height: 100%;
        
        
        }
        
        /* Desktop footer Styling */
        footer {
        margin-top: 10px;
        background: #EFEFEF;
        width: 100%;
        height: 292px;
        padding: 42px 119px;
        }
        
        
        
        .container-footer{
        display: flex;
        justify-content: space-between;
        }
        
        .newsletter {
        margin-top: 0px;
        }
        
        .newsletter p{
        margin-bottom: 19px;
        width: 320px;
        }
    }
    
    
    
    /* Tablet Styling */
    @media screen and (min-width:600px) and (max-width: 899px) {
    /* Tablet News Styling */
    .recent-news{
        width: 100%;
        height: 800px;
    }
    
    .article-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 32px;
        justify-items: center;
        align-items:center
    
    }
    
    .article-container:nth-child(3) {
    grid-column: span 2;
    }
    
    .article1 {
    width: 330px;
    height: 330px;
    }
    .article2 {
    width: 330px;
    height: 330px;
    }
    .article3 {
    width: 330px;
    height: 330px;
    }
    
    
    
    /* Tablet footer Styling */
    footer {
    margin-top: 26px;
    background: #EFEFEF;
    width: 100%;
    height: 292px;
    padding: 34px 34px;
    }
    
    
    
    .container-footer{
    display: flex;
    justify-content: space-between;
    }
    
    .newsletter {
    margin-top: 0px;
    }
    
    .newsletter p{
    margin-bottom: 19px;
    width: 320px;
    }
    }