@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;700;900&display=swap");

/*RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BASIC*/

body {
  font-family: "Poppins", "Dosis", sans-serif;
  
  

}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  text-decoration: none;
  list-style: none;
}

